

.main-content {
    margin-top: var(--header-height);
    margin-left: 50px; /*Establece un margen izquierdo*/
    padding: 20px;
    width: calc(100% - var(--sidebar-width));
}

.search-section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

#searchInput {
    flex: 1; /* Permite que el input de búsqueda se expanda */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#searchButton {
    background-color: rgb(15, 36, 226);
    color: white;
    border: none;
    padding: 12px 20px; /* Ajusta el padding para un diseño más compacto */
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .main-header {
        padding: 0 10px;
    }

    .logo img {
        height: 35px;
    }

    .user-info {
        flex-wrap: wrap;
    }

    .logout {
        margin-left: 5px;
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .sidebar {
        width: 220px;
        left: -220px;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .search-box {
        flex-direction: column;
    }

    #searchInput, 
    #searchButton {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-header {
        height: 50px;
    }

    .logo img {
        height: 30px;
    }

    .logout {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}